<footer class="footer" id="footer">
  <div class="footer-container">
    <div class="footer-sociale">
      <div>
        <p class="footer-text">Наш телеграм канал</p>
        <a href="https://t.me/HVwristwatch" target="_blank">
          <img class="icon" src="img/black-telegram-1.png" alt="telegram">
        </a>
      </div>

      <div>
        <p class="footer-text">Наш канал в ватсапе</p>
        <a href="https://chat.whatsapp.com/LXg45AVjzyUG7yafCN4bQB" target="_blank">
          <img class="icon" src="img/whatsup-1.png" alt="whatsup">
        </a>
      </div>
    </div>
    <iframe title="Old Wrist Watch DH 3D model - Sketchfab" class="c-viewer__iframe" src="https://sketchfab.com/models/438651fc63e84a8aaf5f58202a79c157/embed?autostart=1&amp;internal=1&amp;tracking=0&amp;ui_ar=0&amp;ui_infos=0&amp;ui_snapshots=1&amp;ui_stop=0&amp;ui_theatre=1&amp;ui_watermark=0" id="api-frame" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking="true" execution-while-out-of-viewport="true" execution-while-not-rendered="true" web-share="true" allowfullscreen=""></iframe>
  <div>

<div class="footer-sociale">&copy Все права <a href="">защищены</a></div>
</div>
</div>
</footer>
