{{!-- <nav class="navbar fixed-top navbar-expand-xxl navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">WatchStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse collapse1" id="navbarContent">
      <ul class="navbar-nav mr-avto mb-2">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group me-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-dark">Авторизация</button>
            <button type="button" class="btn btn-dark">Регистрация</button>
            <button type="button" class="btn btn-dark">Форма</button>
           <span class="fack"> <button type="button" class="btn btn-dark"><a href="#faq">FAQ</a></button></span>
           <button type="button" class="btn btn-dark"><a class="nav-link " href="/admin/logout">Выход</a></button>
           </div>
        </div>
      </ul>
    </div>
  </div>
  <div>


</nav> --}}
<header class="header">
      <div class="header-container">
        <div class="header-logo">
          <img src="img/watch.png" alt="watch">
        </div>
        <div class="header-title"><h1>Handmade watch</h1></div>
        <nav class="navigate">
          <ul class="navigate-list">
            <li class="navigate-item">
              <button id="forma" type="button" class="btn btn-outline-dark">Обратная связь</button>
            </li>
            <li class="navigate-item">
              <button type="button" class="btn btn-outline-dark"><a class="anchor" href="#footer">Наши контакты</a></button>
            </li>
          </ul>
        </nav>
      </div>
  </header>
