<main class="main">
    <div class="main-container">
      <div class="content">
        <div class="content-image">
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="img/1/73BYtyAgXEc.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="img/1/ref1658-01.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item">
                <img src="img/1/ref1658-02.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item">
                <img src="img/1/ref1658-03.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item">
                <img src="img/1/ref1658-04.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item">
                <img src="img/1/ref1658-05.jpg" class="d-block w-100" alt="watch">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="content-text">
          <p>1658. Diamant "Кола" дайвер, СССР-Франция, 1970-е</p>
          <p>Черно-красный безель у коллекционеров называется "Кола", циферблат с якорем обозначает морское предназначение.</p>
          <p>Также интересен механизм Полет "Кировские" 2414. Обычное количество камней 17, но здесь доработанная версия на 21 камне, такой вариант в исполнениия для внутреннего спроса СССР не встречался даже в золотых часах. Уровень этой механики даже выше среднего швейцарского тех же лет.</p>
          <p>Размеры:<br>
            – диаметр без головки 36,5 мм;<br>
            – ширина с головкой 39,3 мм;<br>
            – высота по ушкам примерно 42,7 мм.</p>
        </div>
      </div>
      <div class="content">
        <div class="content-image">
          <div id="carouselExampleInterval-2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="img/2/ref1651-01.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="img/2/ref1651-02.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item">
                <img src="img/2/ref1651-03.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item">
                <img src="img/2/ref1651-04.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item">
                <img src="img/2/ref1651-05.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item">
                <img src="img/2/ref1651-06.jpg" class="d-block w-100" alt="watch">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval-2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>



<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval-2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="content-text">
          <p>1651. "ТРЕЗВОНЪ" наручный будильник из серии Суздаль, сталь-серебро 2021</p>
          <p>Крупные старославянские авторские часы "ТРЕЗВОНЪ" с гонговым будильником. Буквицы с тильдой для обозначения чисел применили Кирилл и Мефодий, эти загадочные буквы можно обнаружить на старинных православных иконах и в древних церковных книгах. В ходе реформ Петра Первого с 1700 года числовая письменность Российской Империи была переведена с буквицы на привычные нам арабские цифры.</p>
          <p>Центральный диск циферблата является указателем времени срабатывания будильника - колокольчик указывает на шкалу времени, когда сработает будильник.</p>
          <p>Размеры:<br>
            – диаметр без зав. головки 49,7 мм;<br>
            – ширина с головкой 56,6 мм;<br>
            – высота по ушкам примерно 56 мм.<br>
            - ширина ремешка 24 мм.</p>
        </div>
      </div>
      <div class="content">
        <div class="content-image">
          <div id="carouselExampleInterval-3" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="img/3/ref1648-01.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="img/3/ref1648-02.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item">
                <img src="img/3/ref1648-03.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item">
                <img src="img/3/ref1648-04.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item">
                <img src="img/3/ref1648-05.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item">
                <img src="img/3/ref1648-06.jpg" class="d-block w-100" alt="watch">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval-3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval-3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="content-text">
          <p>1648. Артельные часы Павелъ Буре, 46 мм, Швейцария-Россия, 1920-е</p>
          <p>Часы в "артельном" хромированном корпусе, типичный механизм фабрики Буре с русскими буквами "П-У" на регуляторе, оригинальный эмалевый циферблат с подписью. Самая известная русская часовая марка, поставщик Двора Его Величества. Механизмы производились в Швейцарии и завозились сборочными комплектами в Россию, где собирались в часы. Качество и надежность удавалось держать на высоком швейцарском уровне, при довольно доступных ценах.</p>
          <p>Часы полностью исправны, прошли техническое обслуживание с полной разборкой, чисткой, смазкой и регулировкой, отлично ходят и показывают время на руке.</p>
          <p>Размеры:<br>
            – диаметр без головки 46.2 мм;<br>
            – ширина с головкой 50 мм;<br>
            – высота по креплению ушек 53.5 мм.</p>
        </div>
      </div>
      <div class="content">
        <div class="content-image">


<div id="carouselExampleInterval-4" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="img/4/ref1485-01.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="img/4/ref1485-02.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item">
                <img src="img/4/ref1485-03.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item">
                <img src="img/4/ref1485-04.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item">
                <img src="img/4/ref1485-05.jpg" class="d-block w-100" alt="watch">
              </div>
              <div class="carousel-item">
                <img src="img/4/ref1485-06.jpg" class="d-block w-100" alt="watch">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval-4" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval-4" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="content-text">
          <p>1485. Авторские часы SONNE (Золотое Солнце), ручная гравировка, автомат сталь 40 мм</p>
          <p>В переводе с немецкого Sonne – "солнце", один из самых древних символов, который ассоциировался с течением времени. Со времён первых солнечных часов небесное светило пришло на главные башни городов. До сих пор можно встретить часы на ратушах и вокзалах с аллегорическими изображениями Солнца самых разных стилей и эпох, многие являются культурными памятниками и предметом туристического интереса. Солнце как источник жизни, в каждой клетке и песчинке накоплено его тепло, и в любой культуре почитается особо.</p>
          <p>Тонкая рельефная гравировка, идеальный размер, приятный объём и вес на руке, ручная работа. Точно таких же часов не встретите ни у кого.</p>
          <p>Размеры:<br>
            – диаметр без головки 40,7 мм;<br>
            – диаметр без головки 43,5 мм;<br>
            – высота по ушкам 49 мм.</p>
        </div>
      </div>
    </div>
  </main>


